:root {
    --bg-color: #1e555c;
    --light-color: #ffffff;
    --border-color: #13353a;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    line-height: 1.5;
}

button {
    border: none;
    background-color: transparent;
    color: var(--light-color);
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

.wrapper {
    min-height: 100vh;
    color: var(--light-color);
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 5rem;
}

.container {
    width: 50rem;
    margin: 0 auto;
}

.header {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.control h2 {
    font-size: 3rem;
}

.control > div {
    display: flex;
    justify-content: center;
}

.control span {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 2rem;
}

.timer {
    width: 27rem;
    height: 16rem;
    margin: 2rem auto;
    border: .7rem solid var(--border-color);
    border-radius: 5rem;
    padding: 2rem;
}

.timer h3 {
    font-size: 3rem;
}

.timer p {
    font-size: 5rem;
}

.main-controls button:first-of-type {
    padding-right: 2rem;
}